
<header class="header">
  <nav>
    <div class="header_content">
      <a href="/">
        <img width="250" height="100" src="/_assets/images/icons/btr.svg" alt="Home">
      </a>
      <div class="header_content-links">
        {% for link in navigation.links %}
          <a href="{{link.link}}">
            <button>{{link.name}}</button>
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>

{% stylesheet 'scss' %}

  @import 'mixins';
  @import 'components/header';
  @import 'components/button';

{% endstylesheet %}
