.item_card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 20px 0;
  overflow: hidden;
  max-height: 410px;
  box-shadow:
    0 8px 25px 0 rgba(0,0,0,0.1),
    0 0 10px -5px rgba(0,0,0,0.04);
  .item_card-text {
    width: 90%;
    padding: 40px;
  }
  .item_card-label {
    margin-top: -3px;
    display: inline-block;
    padding: 0 10px;
    background: #0e76de;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
    transform: scale(0.77);
    transform-origin: left;
    &__dark {
      color: #000 !important;
    }
  }
  .item_card-image {
    display: flex;
    align-items: center;
    picture {
      padding: 0 !important;
    }
    img {
      width: 100%;
      //transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1000px) {
  .item_card-container {
    flex-direction: column !important;
    max-height: unset !important;
    margin: 10px 0 10px 0;
    .item_card-text {
      z-index: 10;
      margin-top: -55px;
      width: unset !important;
      .item-links_container {
        a {
          font-size: 22px !important;
        }
      }
    }
    .item_card-image {
      display: flex;
      justify-content: center;
      img {
        //transform: scale(1.1) !important;
        margin: 0 auto;
      }
    }
  }
}
