<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">
<meta name="description" content="{{meta[page.fileSlug].description}}">
<meta property="og:title" content="{{meta[page.fileSlug].title}}">
<meta property="og:url" content="https://btr.pm/{{page.fileSlug}}/">
<meta name="og:description" content="{{meta[page.fileSlug].description}}">
<meta property="og:image" content="{% picture 'btrpm.jpg', '', '', 'lazy', 'true'  %}">
<meta property="twitter:url" content="https://btr.pm/{{page.fileSlug}}/">
<meta property="twitter:title" content="{{meta[page.fileSlug].title}}">
<meta property="twitter:description" content="{{meta[page.fileSlug].description}}">
<meta property="twitter:image" content="{% picture 'btrpm.jpg', '', '', 'lazy', 'true'  %}">
